.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    border: 3px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform:  scale(1.1);
    border-color: darkblue;
}